<form [formGroup]="form" (ngSubmit)="saveRecipe(form.value)">
  <div class="form-group">
    <input class="uk-input" type="text" id="name" formControlName="name" placeholder="Name">
    <div [hidden]="!form.get('name').hasError('required')">
      Gib einen Namen an.
    </div>
  </div>
  <div class="form-group">
    <textarea class="uk-textarea" id="description" formControlName="description" placeholder="Zubereitung"></textarea>
  </div>

  <button class="uk-button uk-button-default" type="submit" [disabled]="form.invalid">Speichern</button>
</form>
